@model SocialNetwork.ViewModel.LoginViewModel
<section class="vh-100">
    <div class="container-fluid h-custom">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-9 col-lg-6 col-xl-5">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
                     class="img-fluid" alt="Sample image">
            </div>
            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                <form asp-action="Login" method="post">
                    

                    <!-- UserName input -->
                    <div data-mdb-input-init class="form-outline mb-4">
                        
                            <label asp-for="Username"></label>
                            <input asp-for="Username" type="text" id="form3Example3" class="form-control form-control-lg"
                                   placeholder="Enter a valid user address" />
                            <span asp-validation-for="Username"></span>
                        
                        
                    </div>

                    <!-- Password input -->
                    <div data-mdb-input-init class="form-outline mb-3">
                        <label asp-for="Password"></label>
                        <input asp-for="Password" type="password" class="form-control form-control-lg"
                               placeholder="Enter password" />
                        <span asp-validation-for="Password" ></span>
                        
                    </div>

                    <div class="d-flex justify-content-between align-items-center">
                        <!-- Checkbox -->
                        <div class="form-check mb-0">
                            <input asp-for="RememberMe" type="checkbox" />
                            <label asp-for="RememberMe">Ghi nhớ</label>
                        </div>
                        <a href="#!" class="text-body">Forgot password?</a>
                    </div>

                    <div class="text-center text-lg-start mt-4 pt-2">
                        <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-lg"
                                style="padding-left: 2.5rem; padding-right: 2.5rem;">
                            đăng nhập
                        </button>
                        <p class="small fw-bold mt-2 pt-1 mb-0">
                            Don't have an account? <a asp-controller="Auth" asp-action="Register"
                                                      class="link-danger">Register</a>
                        </p>
                    </div>

                </form>
            </div>
        </div>
    </div>
   
</section>

