@section Styles {
    <link rel="stylesheet" href="~/css/Friend.css" />
}
<div class="px-4 pt-4" style="background-color:#f2f4f7">
    <div class="d-flex justify-content-between block">
        <div>
            <h4>Lời mời kết bạn</h4>
        </div>
        <div>
            <span><a>Xem tất cả</a></span>
        </div>
        
    </div>
    <div class="row-custom-friend">   
    </div>
    <div class="mt-3 text-center">

        <span id="loadFriendsButton" style="font-size:15px;font-weight:600;cursor:pointer"><a>xem thêm</a></span>
    </div>
    <div class="mt-3 text-center">
        <h4>Những người bạn bạn có thể biết</h4>
    </div>
    <div class="mt-3 text-center recommend-friend">

        
    </div>
</div>
@section Scripts {
    <script src="~/js/Friend.js"></script>
}